<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>A</string>
		<key>surname</key>
		<string>SA</string>
		<key>ID</key>
		<string>00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>B</string>
		<key>surname</key>
		<string>SB</string>
		<key>ID</key>
		<string>11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C</string>
		<key>surname</key>
		<string>SC</string>
		<key>ID</key>
		<string>22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>D</string>
		<key>surname</key>
		<string>SD</string>
		<key>ID</key>
		<string>33</string>
	</dict>
	<dict>
		<key>name</key>
		<string>E</string>
		<key>surname</key>
		<string>SE</string>
		<key>ID</key>
		<string>44</string>
	</dict>
</array>
</plist>
