<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>showName</key>
		<string>The Simpsons</string>
		<key>showImageName</key>
		<string>simpsons</string>
		<key>showCharacters</key>
		<array>
			<dict>
				<key>charName</key>
				<string>Bart</string>
				<key>charImageName</key>
				<string>bart</string>
			</dict>
			<dict>
				<key>charName</key>
				<string>Lisa</string>
				<key>charImageName</key>
				<string>lisa</string>
			</dict>
			<dict>
				<key>charName</key>
				<string>Homer</string>
				<key>charImageName</key>
				<string>homer</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showName</key>
		<string>Star Wars</string>
		<key>showImageName</key>
		<string>starwars</string>
		<key>showCharacters</key>
		<array>
			<dict>
				<key>charName</key>
				<string>Han</string>
				<key>charImageName</key>
				<string>han</string>
			</dict>
			<dict>
				<key>charName</key>
				<string>C3PO</string>
				<key>charImageName</key>
				<string>c3po</string>
			</dict>
			<dict>
				<key>charName</key>
				<string>Darth Vader</string>
				<key>charImageName</key>
				<string>vader</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
